{% include "navigation.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Студенты</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

<h1>Студенты</h1>
<table border="1px solid black">
    <thead>
    <tr>
        <th>id</th>
        <th>Имя и фамилия</th>
        <th>Номер студенческого билета</th>
        <th>Email</th>
        <th>Группа</th>
        <th colspan="2" style="text-align: center">Возможные действия</th>
    </tr>
    </thead>
    <tbody>

    {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td><a href="/student/{{ student.id }}">{{ student.first_name }} {{ student.last_name }}</a></td>
            <td>{{ student.ticket_number }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.group }}</td>
            <td>
                <form action="/student/{{ student.id }}/edit">
                    <button class="btn btn-primary">Редактировать</button>
                </form>
            </td>
            <td>
                <form action="/student/{{ student.id }}/delete">
                    <button class="btn btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<form action="/student/add" style="margin-top: 50px; margin-left: 10px">
    <button type="submit" class="btn-primary btn-submit">Добавить студента</button>
</form>
</body>
</html>